/*linkedin and resume buttons*/

#wrapper {
    width: 300px;
    overflow: auto; 
    margin: auto;
}
#linkedin {
    float:left; /* add this */
}
#resume {
    float: right; /* add this */
}

#btn-shape{
	border-radius: 25px;
}

/*skills section*/
#projects img{
	max-width: 20%;
	border: none;
	margin-top: 20%;
	margin-right: 90%;
}

/*vertical line*/
#vertical{
	margin-left: 10%;
	border-left: thick solid white;
	border-left-width: 2px;
}

/*project text*/
#projecttext{
	margin-top: -20%;
	margin-left: 20%; 
}

#projectsubtext{
	margin-left: 20%;
}

#drjohnbackground p{
	background-color: rgba(0,170,13,.5);
	background-position: top;
	padding: 15px; 
	border-radius: 50px;
	border: 3px solid white;
}

#ruralreviewerbackground p{
	background-color: rgba(0,6,138,.5);
	padding: 15px; 
	border-radius: 50px;
	border: 3px solid white;
}

/*underline text*/
.title{
	text-decoration: underline;
}
