/*linkedin and resume buttons*/

html{
	height: 100%;
}

#fixed-height{
	min-height: 
}

.underline{
	text-decoration: underline;
}

#wrapper {
    width: 300px;
    overflow: auto; 
    margin: auto;
}
#linkedin {
    float:left; 
    z-index: 2;
    position: relative; 
}


#resume {
    float: right; 
    z-index: 2;
    position: relative;
}

#btn-shape{
	border-radius: 25px;
}

/*projects section*/
#firstimage{
	max-width: 20%;
	border: none;
	margin-top: 15%;
	margin-right: 90%;
	background-color: black;
}

#image{
	max-width: 20%;
	border: none;
	margin-top: 30%;
	margin-right: 90%;
	background-color: black;
}

#lastimage{
	max-width: 20%;
	border: none;
	margin-top: 30%;
	margin-right: 90%;
	background-color: black;
}


/*vertical line*/
#vertical{
	margin-left: 10%;
	border-left: thick solid white;
	border-left-width: 2px;
}

#verticalicon{
	float: left;
	font-size: 50px;
}

/*project text*/
#projecttext{
	margin-top: -20%;
	margin-left: 20%; 
}

#projectsubtext{
	margin-left: 20%;
}

#skillsbackground{
	/*put the background image here*/
	background-image: url(img/ocean.png);
	background-position: 100% 0%;
	padding: 5%;
	position: relative;
}



/*skills section*/
#skillsbody{
	margin-top: 5%; 
	border: 3px solid white;
	border-radius: 20px; 
	overflow: hidden;
	text-shadow: 3px 3px black;
}



.progress{
	margin-bottom: 10%;
}

#frontend{
	background-color: rgb(8, 120, 48);
}

#data{
	background-color: rgb(255, 101, 1);
}

#techsystems{
	background-color: rgb(201, 20, 0);
}

/*modal*/
#Languages{
	margin-top: 5%;
}

.modal-content{
	background-color: black; 
	border: 2px solid white;
}

.modal-footer{
	text-align: center;
}

.myresume{
	width: 70%;
}

.intro{
	background-image: url("img/water.png");
}

.intro .intro-body .intro-text {
	font-size: 30px;
	text-shadow: 2px 2px black;
	overflow: hidden;
}

.intro-body{
	overflow: hidden;
}

/*boat stylingß*/
#boat{
	position: absolute;
	width: 35%;
	margin-top: -3%;
	z-index: 1; 
}


/*boat animation*/

/* The animation code */
@keyframes boat {

    0%   {left:20%; transform: rotate(7deg) translateY(0);} 

    16%  {transform: rotate(-4deg) translateY(5%);} 
    25%  {transform: rotate(6deg) translateY(0);}
    

    50%  {left:60%; transform: rotate(-7deg) translateY(4%);}

    65%	 {transform: rotate(4deg) translateY(0);}
    85%  {transform: rotate(-6deg) translateY(5%);}

    100% {left:20%; transform: rotate(7deg) translateY(0);}
}


/*mobile animation code*/
@keyframes boatmobile {

    0%   {left:-3%; transform: rotate(4deg) translateY(15%);} 

    50%  {left:3%; transform: rotate(-3deg) translateY(15%);}

    100% {left:-3%; transform: rotate(4deg) translateY(15%);}
}




/* The element to apply the animation to */
#boat {
    animation-name: boat;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


/*mobile width*/
@media screen and (min-width: 360px){
	#boat{
		position: relative;
	}

		#boat {
			width: 25%;
			margin-top: 10%;

		    animation-name: boatmobile;
		    animation-duration: 9s;
		    animation-iteration-count: infinite;
		    animation-timing-function: ease-in-out;
		}
}


/*computer screen width*/
@media screen and (min-width: 768px){
	#boat{ 
		margin-top: 3%;
		position: absolute;
		width: 35%; 

		animation-name: boat;
		animation-duration: 30s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}
}

@media screen and (min-width: 992px){
	#boat{
		margin-top: -2%;
		position: absolute;
		width: 35%;

		animation-name: boat;
		animation-duration: 30s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}
}


@media screen and (min-width: 1200px){
	#boat{
		margin-top: -3%;
		position: absolute;
		width: 35%;

		animation-name: boat;
		animation-duration: 30s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}
}

@media screen and (min-width: 1920px){
	#boat{
		margin-top: -3%;
		position: absolute;
		width: 35%;

		animation-name: boat;
		animation-duration: 30s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}
}

/*ipad viewing*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {}


/*height media queries*/





/*contact section*/
#formbox{
	margin-top: 5%;
	width: 70%;
	height: 40px;
	border: 5px solid black;
	color: black; 
}


#formboxmessage{
	margin-top: 5%;
	width: 70%;
	height: 100px;
	border: 5px solid black;
	color: black; 
}

#contact{
	margin-top: 5%;
	text-align: center;
	padding-top: 5%;
}

#contactbody{
	margin: auto; 
	width: 65%;
	border: 2px solid white;
	border-radius: 20px; 
	text-align: center;
	padding: 5%;
	background-color: rgba(128, 128, 128, .2);
}

#about{
	padding-left: 2%;
	padding-right: 2%; 
}

#aboutmedata{
	margin-top: 8%;
	margin-bottom: 3%;
}

#formspreeform{
	border-left: 3px solid white;
}

@media screen and (max-width: 1199px) { #formspreeform {border: none; margin-top: 20%;}}

#manualcontact{
	margin-top: 30%;
}

/*modal close button*/
.close{
	color: white;
	opacity: 1;
}

