
<!-- Intro Start -->

<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <span class="intro-text">
              An Aspiring Web Developer, Adrift In a Sea of Digital Labor...
            </span>
            <!-- creates the space below my profile picture -->
            <h5>&nbsp;</h5>
            <!-- the profile image and where it sends the user to -->
            <a href="#{{ site.pages_list['About'] }}" class="page-scroll">
              <img class="img-me" src="{{site.baseurl}}{{ site.me-img }}" alt="">
            </a>

            <h5>&nbsp;</h5>


            <div id="wrapper">

              <div id="linkedin">
                <a href="https://www.linkedin.com/in/marvin-anderson/"><button id="btn-shape" type="button" class="btn btn-lg btn-primary">LinkedIn</button></a>
              </div>

              <div id="resume">
                <button id="btn-shape" type="button" class="btn btn-lg btn-warning" href="#">Resume</button>
              </div>

            </div>
          </div>
        </div>
    </div>
  </div>
</header>

<!-- Intro End -->
