<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="shortcut icon" type="image/png" href="{{ '/assets/img/favicon.png' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/owl.carousel.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/magnific-popup.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/font-awesome.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/themify-icons.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/nice-select.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/flaticon.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/gijgo.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/animate.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/slick.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/slicknav.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>
  <body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->