<!-- portfolio_area -->
<div class="portfolio_area portfolio_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title white_text text-center">
                    <span>Portfolio</span>
                    <h3>Some Currently Active and <br>
                        Completed Projects</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ portfolio_area -->

<!-- portfolio_image_area  -->
<div class="portfolio_image_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-md-5">
                <div class="single_Portfolio">
                    <div class="portfolio_thumb litter"></div>
                    <a href="/portfolio/projects/litter" class="popup"></a>
                    <div class="portfolio_hover">
                        <div class="title">
                            <h3>Litter</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-md-7">
                <div class="single_Portfolio">
                    <div class="portfolio_thumb ddr"></div>
                    <a href="/portfolio/projects/distinctivedesignremodeling" class="popup"></a>
                    <div class="portfolio_hover">
                        <div class="title">
                            <h3>Distinctive Design Remodeling</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_Portfolio">
                    <div class="portfolio_thumb poll-buddy"></div>
                    <a href="/portfolio/projects/poll-buddy" class="popup"></a>
                    <div class="portfolio_hover">
                        <div class="title">
                            <h3>Poll Buddy</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_Portfolio">
                    <div class="portfolio_thumb mega-note"></div>
                    <a href="/portfolio/projects/mega-note" class="popup"></a>
                    <div class="portfolio_hover">
                        <div class="title">
                            <h3>MegaNote</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-12 col-lg-4">
                <div class="single_Portfolio">
                    <div class="portfolio_thumb wsjxr"></div>
                    <a href="/portfolio/projects/wsjxr" class="popup"></a>
                    <div class="portfolio_hover">
                        <div class="title">
                            <h3>WSJXR</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="more_portfolio text-center">
                    <a class="li'ne_btn" href="{{ '/projects' | relative_url}}">View more projects</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ portfolio_image_area  -->