<!-- service_area  -->
<div class="service_area" id="experience">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="section_title text-center mb-65">
                  <span>Work Experience</span>
                  <h3>Employed With These Companies  <br>
                          to Develop the Future</h3>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-xl-4 col-md-4">
              <div class="single_service text-center">
                  <div class="icon">
                      <img src="{{ '/assets/img/logos/eLink-logo.png' | relative_url}}" alt="">
                  </div>
                  <p class="elink-text">eLink Design is a national web design, application development and search engine optimization firm, specializing in customizing our solutions around the specific needs of the client. </p>
                  <a class="boxed-btn3" href="https://www.elinkdesign.com/" target="_blank">Learn More</a>
              </div>
          </div>
          <div class="col-xl-4 col-md-4">
              <div class="single_service text-center">
                  <div class="icon">
                      <img src="{{ '/assets/img/logos/xometry-logo.svg' | relative_url}}" alt="">
                  </div>
                  <p>We make it easy for all customers — from startups to Fortune 100 companies — to access manufacturing on demand by providing the most efficient way to source high-quality custom parts.</p>
                  <a class="boxed-btn3" href="https://www.xometry.com/" target="_blank">Learn More</a>
                </div>
          </div>
          <div class="col-xl-4 col-md-4">
              <div class="single_service text-center">
                  <div class="icon">
                      <img src="{{ '/assets/img/logos/ainc-logo.png' | relative_url}}" alt="">
                  </div>
                  <p>Awesome Inc was founded on the basis of the "give-first" mentality. Awesome Inc started in 2009 and has grown to be the epicenter for anything related to technology or business. We strive to make Lexington a better place to live and work.
                </p>
                <a class="boxed-btn3" href="https://www.awesomeinc.org/" target="_blank">Learn More</a>
              </div>
          </div>
      </div>
  </div>
</div>
<!--/ service_area  -->