<!-- slider_area_start -->
<div class="slider_area" id="home">
  <div class="single_slider  d-flex align-items-center slider_bg_1">
      <div class="shap_pattern d-none d-lg-block">
          <img src="{{ '/assets/img/about/grid.png' | relative_url }}" alt="">
      </div>
      <div class="social_links">
          <ul>
              <li><a href="{{ site.linkedin }}" target="_blank"> <i class="fa fa-linkedin"></i> </a></li>
          </ul>
      </div>
      <div class="container">
          <div class="row align-items-center">
              <div class="col-xl-12">
                  <div class="slider_text text-center">
                      <h3>
                          Hi, I'm Marvin!
                      </h3>
                      <span>Software Developer</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- slider_area_end -->
